
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-size: 14px;
    min-height: 100vh;
    max-width: 100vw;
    font-family: Montserrat;
    margin: 0 auto;
	  background: rgba(255,209,167,0.30000001192092896);

}

/*
.bdy_bgd {
    width: 100%;
    height: 100%;
    background: rgba(255,209,167,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}*/


/* NAV BAR STYLE */
.navbar_bgd {
    width: 110%;
    height: 115px;
    background: rgba(255,254,253,1);
    opacity: 1;
    position: relative;
    top: -16px;
    left: -28px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.bell_bgd {
    width: 72px;
    height: 53px;
    background: rgba(148,36,29,1);
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 1150px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.bell_img {
    width: 41px;
    height: 38px;
    background: url("../../images/bell.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 8px;
    left: 16px;
    overflow: hidden;
}
.nav_frame {
    width: 525px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 29px;
    opacity: 1;
    position: relative;
    top: -108px;
    left: 565px;
    overflow: hidden;
}
.name {
    color: #fff;
}
.home_nav {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: -30px;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.home_nav_selected {
    width: 120px;
    color: #E69859;
    position: absolute;
    top: 0px;
    left: -30px;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.sched_nav {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 107px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.resource_nav {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 256px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.reports_nav {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 405px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.logo_title {
    width: 598px;
    position: relative;
    top: -175px;
    left: 144px;
    font-family: Montserrat;
    font-weight: Bolder;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    color: #94241D;
}
.logo_title_detail {
    width: 598px;
    position: relative;
    top: -175px;
    left: 144px;
    font-family: Montserrat;
    font-weight: Bolder;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    color: #E69859;
}
.logo {
    width: 79px;
    height: 72px;
    background: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: -230px;
    left: 54px;
    overflow: hidden;
}

/* FOOTER BAR */
.footer {
    width: 120%;
    height: 72px;
    background: rgba(0,0,0,0.6499999761581421);
    opacity: 1;
    position: absolute;
    top: 1192px;
    left: -16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;	
}

#footer_dynamic {
	position: relative;
	height: 50px;
	width: 120%;
	left: -16px;
	clear: both;
    background: rgba(0,0,0,0.6499999761581421);
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
	bottom: -900px;
}


/* NOTIFICATION PANEL ELEMENTS */
.panel {
    width: 735px;
    height: 300px;
    background: rgba(148,36,28,0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 205px;
    left: 275px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.field_1 {
    width: 317px;
    height: 52px;
    background: rgba(255,255,255,0.8999999761581421);
    opacity: 1;
    position: absolute;
    top: 558px;
    left: 490px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.subtitle {
    width: 100%;
    color: #FDAB61;
    position: absolute;
    top: 150px;
    left: 0px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.title {
    width: 735px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 45px;
    left: 0px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 55px;
    opacity: 1;
    text-align: center;
}
.user_bgd {
    width: 57px;
    height: 52px;
    background: rgba(230,152,89,1);
    opacity: 1;
    position: absolute;
    top: 558px;
    left: 490px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.user_img {
    width: 34px;
    height: 33px;
    background: url("../../images/user.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 566px;
    left: 503px;
    overflow: hidden;
}
.field_2 {
    width: 317px;
    height: 52px;
    background: rgba(255,255,255,0.8999999761581421);
    opacity: 1;
    position: absolute;
    top: 699px;
    left: 490px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.field_2_txt {
    width: 120px;
    color: rgba(249,243,241,1);
    position: absolute;
    top: 653px;
    left: 490px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.pass_bgd {
    width: 57px;
    height: 52px;
    background: rgba(230,152,89,1);
    opacity: 1;
    position: absolute;
    top: 699px;
    left: 490px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.lock_img {
    width: 34px;
    height: 36px;
    background: url("../../images/lock.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 707px;
    left: 503px;
    overflow: hidden;
}
.name {
    color: #fff;
}
.btn {
    width: 166px;
    height: 53px;
    background: rgba(230,152,89,1);
    opacity: 1;
    position: absolute;
    top: 840px;
    left: 560px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}


/* TABLE PROPERTIES */
.table_bgd {
  	width: 91%;
	height: 3000px;
	background: rgba(255,255,255,0.8999999761581421);
	opacity: 1;
	position: absolute;
	top: 156px;
	left: 54px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.table_title	{
	width: 665px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 61px;
	left: 50px;
	font-family: Montserrat;
	font-weight: 900;
	font-size: 46px;
	opacity: 1;
	text-align: left;
}

.btn_bgd {
    margin-right:10%;
    margin-left: 80%;

	width: 230px;
	height: 55px;
	background: rgba(148,36,29,1);
	opacity: 1;
	position: absolute;
	top: 65px;
	left: 850px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.btn_txt {
  	width: 100%;
	color: rgba(255,255,255,1);
	position: absolute;
	top: 15px;
	left: 0px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 18px;
	opacity: 1;
	text-align: center;
}


.line {
	position: absolute;
	width: 90%;
	height: 0px;
	left: 50px;
	top: 150px;
	border: 2px solid rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
}

.tpt_bar {
  	width: 400px;
	height: 52px;
	background: rgba(168,166,157,0.15000000596046448);
	opacity: 1;
	position: absolute;
	top: 190px;
	left: 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	overflow: hidden;
}

.search_icon {
	width: 21px;
	height: 21px;
	background: url("../../images/search.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 205px;
	left: 65px;
	overflow: hidden;
}

.search_text {
    outline: none;
    border: none;
    font-weight: Bold;
	font-size: 18px;
    font-family: Montserrat;
    background-color: transparent;
    position: absolute;
    top: 204px;
	left: 65px;
}

.hidden_text {
	width: 120px;
	color: rgba(178,176,175,1);
	position: absolute;
	top: 203px;
	left: 70px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 20px;
	opacity: 1;
	text-align: center;
}

.tpt_tab_1 {
	width: 130px;
	height: 52px;
	background: rgba(168,166,157,0.15000000596046448);
	opacity: 1;
	position: absolute;
	top: 190px;
	left: 1240px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	overflow: hidden;
}

.tpt_tab_2 {
	width: 130px;
	height: 52px;
	background: rgba(168,166,157,0.15000000596046448);
	opacity: 1;
	position: absolute;
	top: 190px;
	left: 1385px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	overflow: hidden;
}

.tpt_tab_3 {
	position: absolute;
	width: 42px;
	height: 52px;
	left: 1530px;
	top: 190px;
	background: rgba(168, 166, 157, 0.15);
	border-radius: 15px;
}

.hidden_text_filt {
	width: 120px;
	color: rgba(178,176,175,1);
	position: absolute;
	top: 203px;
	left: 1232px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 20px;
	opacity: 1;
	text-align: center;
}

.drop_icon_filt {
	width: 15px;
	height: 16px;
	background: url("../../images/drop_down.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 208px;
	left: 1343px;
	overflow: hidden;
}

.hidden_text_sort {
	width: 120px;
	color: rgba(178,176,175,1);
	position: absolute;
	top: 203px;
	left: 1377px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 20px;
	opacity: 1;
	text-align: center;
}

.drop_icon_sort {
	width: 15px;
	height: 16px;
	background: url("../../images/drop_down.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 208px;
	left: 1488px;
	overflow: hidden;
}

.download_icon {
	width: 35px;
	height: 26px;
	background: url("../../images/download.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 202px;
	left: 1534px;
	overflow: hidden;
}

.Patient_table {
    position: absolute;
    left: 104px;
    top: 500px;
}

#Patient_table {
    width: 1520px;
    border-color: rgba(168, 166, 157, 0.15);
    border-width: 2;
    border-collapse: collapse;
    font-family: Montserrat;   
}

#patient_list{
    margin-top: 300px;
    margin-left:50px;
  
}
.med_table_title{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
}


.med_table_entry{

    font-size: 14px;
    margin-left:50px;
}

.column {
    float: left;
    text-align: center;
    width: 14%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;

    margin-bottom: 15px;
    clear: both;
  }

  .profile_display{
    border-radius: 15px;
  }
  
  .view_regime_button{
    padding:10px;
    font-family: Montserrat;
    border-radius: 10px;
    border:none;
    color: white;
    background-color: #b63603;

}

.view_regime_button:hover {
    background-color: #791c15; /* Green */
    color: white;
	left: 1031px;
	overflow: hidden;
}

  .view_profile_button{
    padding:10px;
    font-family: Montserrat;
    border-radius: 10px;
    border:none;
    color: white;
    background-color: #94241D;

}

.view_profile_button:hover {
    background-color: #791c15; /* Green */
    color: white;
	left: 1031px;
	overflow: hidden;
}
