
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-size: 14px;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
	background: rgba(255,209,167,0.30000001192092896);

}

/* NAV BAR STYLE */
.navbar_bgd {
    width: 110%;
    height: 115px;
    background: rgba(255,254,253,1);
    opacity: 1;
    position: relative;
    top: -16px;
    left: -28px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.bell_bgd {
    width: 72px;
    height: 53px;
    background: rgba(148,36,29,1);
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 1150px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.bell_img {
    width: 41px;
    height: 38px;
    background: url("../../images/bell.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 8px;
    left: 16px;
    overflow: hidden;
}
.nav_frame {
    width: 525px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 29px;
    opacity: 1;
    position: relative;
    top: -108px;
    left: 565px;
    overflow: hidden;
}
.name {
    color: #fff;
}
.home_nav {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: -30px;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.home_nav_selected {
    width: 120px;
    color: #E69859;
    position: absolute;
    top: 0px;
    left: -30px;
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.sched_nav {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 107px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.resource_nav {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 256px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.reports_nav {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 405px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}
.logo_title {
    width: 598px;
    position: relative;
    top: -175px;
    left: 144px;
    font-family: Montserrat;
    font-weight: Bolder;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    color: #94241D;
}
.logo_title_detail {
    width: 598px;
    position: relative;
    top: -175px;
    left: 144px;
    font-family: Montserrat;
    font-weight: Bolder;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    color: #E69859;
}
.logo {
    width: 79px;
    height: 72px;
    background: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: -230px;
    left: 54px;
    overflow: hidden;
}

/* FOOTER BAR */
.footer {
    width: 120%;
    height: 72px;
    background: rgba(0,0,0,0.6499999761581421);
    opacity: 1;
    position: absolute;
    top: 1192px;
    left: -16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;	
}

#footer_dynamic {
	position: relative;
	height: 50px;
	width: 120%;
	left: -16px;
	clear: both;
    background: rgba(0,0,0,0.6499999761581421);
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
	bottom: -900px;
}


/* NOTIFICATION PANEL ELEMENTS */
.panel {
    width: 300px;
    height: 300px;
    background: rgba(148,36,28,0.699999988079071);
    opacity: 1;
    position: absolute;
    top: 440px;
    left: 106px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.btn {
    width: 166px;
    height: 53px;
    background: rgba(230,152,89,1);
    opacity: 1;
    position: absolute;
    top: 840px;
    left: 560px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

/* TABLE PROPERTIES */
.table_bgd {
  	width: 91%;
	height: 700px;
	background: rgba(255,255,255,0.8999999761581421);
	opacity: 1;
	position: absolute;
	top: 156px;
	left: 54px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.table_title	{
	width: 665px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 61px;
	left: 50px;
	font-family: Montserrat;
	font-weight: 900;
	font-size: 46px;
	opacity: 1;
	text-align: left;
}

.btn_bgd_meal {
	width: 180px;
	height: 55px;
	background: rgba(148,36,29,1);
	opacity: 1;
	position: absolute;
	top: 65px;
	left: 1475px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.btn_bgd_med {
	width: 180px;
	height: 55px;
	background: rgba(148,36,29,1);
	opacity: 1;
	position: absolute;
	top: 65px;
	left: 1285px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.btn_txt {
  	width: 100%;
	color: rgba(255,255,255,1);
	position: absolute;
	top: 15px;
	left: 0px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 18px;
	opacity: 1;
	text-align: center;
}

.line {
	position: absolute;
	width: 95%;
	height: 0px;
	left: 50px;
	top: 150px;
	border: 2px solid rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
}

.Patient_Name {
	color: rgba(178,176,175,1);
	position: absolute;
	top: 203px;
	left: 50px;
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 40px;
	opacity: 1;
	text-align: center;
}
.time {
	position: absolute;
    top: 217px;
	left: 800px;
}
.Current_time {
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 15px;
	opacity: 1;
}
.date {
	position: absolute;
    top: 217px;
	left: 1150px;
}
.selected_date {
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 15px;
	opacity: 1;
}
.round {
	position: absolute;
    top: 215px;
	left: 1400px;
}
.selected_round {
	font-family: Montserrat;
	font-weight: Bold;
	font-size: 15px;
	opacity: 1;
}
.tpt_tab_3 {
	position: absolute;
	width: 42px;
	height: 52px;
	left: 1615px;
	top: 190px;
	background: rgba(168, 166, 157, 0.15);
	border-radius: 15px;
}

.download_icon {
	width: 35px;
	height: 26px;
	background: url("../../images/download.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 202px;
	left: 1619px;
	overflow: hidden;
}

.Patient_table {
    position: absolute;
    left: 420px;
    top: 440px;
}

#Patient_table {
    border-color: rgba(168, 166, 157, 0.15);
    border-width: 2;
    width: 1293px;
    border-collapse: collapse;
    font-family: Montserrat;    
}
